{% extends 'core/base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}


{% block main %}

<div class="card mt-2">
    <h5 class="card-header">{{ post.title }}</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="card-title">{{ post.title }} </h5>
                <p class="card-text text-justify">{{ post.content }}</p>
                <small>{{ post.user }} </small><br>
                <small>{{ post.created_at }}</small>
            </div>
            <div class="col-sm-4">
                <img class="w-100" src="{{ post.image.url }}" alt="">
            </div>
        </div>

    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  حذف
</button>
        <a href="#" class="btn btn-warning">ویرایش</a>
    </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        آیا از حذف این پست اطمینان دارید؟
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
            <a href="{% url 'post_delete' post_id=post.id %}" class="btn btn-danger">حذف</a>

      </div>
    </div>
  </div>
</div>
{% endblock %}